@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

header {
	color: white;
	background-color: blue;
	width: 100%;
	font-size: 50px;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav a {
	color: white;
	list-style: none;
	text-decoration: none;
	margin-left: 20px;
}
nav {
	background-color: purple;
	height: 5%;
	width: 100%;  
	display: flex;
	align-items: center;
}

section {
	width: 100%;  
	height: 80%;
}

section h1 {
	display: flex;
	justify-content: center;
	
	margin-bottom: 10px;
}

footer {
	width: full;
	height: 5%;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	color: white;
}

table {
	margin: 0 auto;
}